In [11]:
import pandas as pd

In [12]:
ks = pd.read_excel('ks_feature_importance_og_categories.xlsx')
mlr = pd.read_csv('mlr_feature_importance_og_categories.csv')
rf = pd.read_csv('rf_feature_importance_og_categories.csv')
tfidf = pd.read_csv('tf_idf_feature_importance_og_categories.csv')

In [13]:
ks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7552 entries, 0 to 7551
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Word       7552 non-null   object
 1   Score      7552 non-null   float64
 2   Bon Score  7552 non-null   float64
 3   KS Rank    7552 non-null   int64
dtypes: float64(2), int64(1), object(1)
memory usage: 236.1+ KB

In [14]:
mlr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7498 entries, 0 to 7497
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  7497 non-null   object
 1   0           7498 non-null   float64
dtypes: float64(1), object(1)
memory usage: 117.3+ KB

In [15]:
rf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7498 entries, 0 to 7497
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Features    7497 non-null   object
 1   Importance  7498 non-null   float64
dtypes: float64(1), object(1)
memory usage: 117.3+ KB

In [16]:
tfidf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7555 entries, 0 to 7554
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Word          7554 non-null   object
 1   TF-IDF Score  7555 non-null   float64
dtypes: float64(1), object(1)
memory usage: 118.2+ KB

In [18]:
tfidf.insert(1, 'tfidf_rank', value=range(len(tfidf)))

In [19]:
tfidf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7555 entries, 0 to 7554
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Word          7554 non-null   object
 1   tfidf_rank    7555 non-null   int64
 2   TF-IDF Score  7555 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 177.2+ KB

In [20]:
mlr.insert(1, 'mlr_rank', value=range(len(mlr)))
rf.insert(1, 'rf_rank', value=range(len(rf)))
ks.insert(1, 'ks_rank', value=range(len(ks)))

In [25]:
final_lists = tfidf[['Word', 'tfidf_rank']]
mlr = mlr[['Unnamed: 0', 'mlr_rank']]
rf = rf[['Features', 'rf_rank']]
ks = ks[['Word', 'ks_rank']]

In [27]:
final_lists = final_lists.set_index('Word').join(mlr.set_index('Unnamed: 0'))

final_lists.info()
final_lists.head()

<class 'pandas.core.frame.DataFrame'>
Index: 7555 entries, elastic to razer
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tfidf_rank  7555 non-null   int64
 1   mlr_rank    7498 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 435.1+ KB

             tfidf_rank  mlr_rank
Word
elastic               0       5.0
deploy                1       8.0
fastly                2       1.0
upsize                3       4.0
engineering           4     138.0

In [28]:
final_lists = final_lists.join(rf.set_index('Features'))
final_lists = final_lists.join(ks.set_index('Word'))

final_lists.info()
final_lists.head()

<class 'pandas.core.frame.DataFrame'>
Index: 7555 entries, elastic to razer
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tfidf_rank  7555 non-null   int64
 1   mlr_rank    7498 non-null   float64
 2   rf_rank     7498 non-null   float64
 3   ks_rank     7552 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 553.2+ KB

             tfidf_rank  mlr_rank  rf_rank  ks_rank
Word
elastic               0       5.0      6.0      0.0
deploy                1       8.0      5.0      5.0
fastly                2       1.0      2.0    188.0
upsize                3       4.0      7.0    162.0
engineering           4     138.0     40.0    223.0

In [31]:
final_lists = final_lists.assign(mean_rank=final_lists[['tfidf_rank','mlr_rank','rf_rank','ks_rank']].mean(axis=1))

In [32]:
final_lists.info()
final_lists.head()

<class 'pandas.core.frame.DataFrame'>
Index: 7555 entries, elastic to razer
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tfidf_rank  7555 non-null   int64
 1   mlr_rank    7498 non-null   float64
 2   rf_rank     7498 non-null   float64
 3   ks_rank     7552 non-null   float64
 4   mean_rank   7555 non-null   float64
dtypes: float64(4), int64(1)
memory usage: 612.2+ KB

             tfidf_rank  mlr_rank  rf_rank  ks_rank  mean_rank
Word
elastic               0       5.0      6.0      0.0       2.75
deploy                1       8.0      5.0      5.0       4.75
fastly                2       1.0      2.0    188.0      48.25
upsize                3       4.0      7.0    162.0      44.00
engineering           4     138.0     40.0    223.0     101.25

In [33]:
final_lists = final_lists.reset_index()
final_lists.head()

          Word  tfidf_rank  mlr_rank  rf_rank  ks_rank  mean_rank
0      elastic           0       5.0      6.0      0.0       2.75
1       deploy           1       8.0      5.0      5.0       4.75
2       fastly           2       1.0      2.0    188.0      48.25
3       upsize           3       4.0      7.0    162.0      44.00
4  engineering           4     138.0     40.0    223.0     101.25

In [34]:
final_lists = final_lists.sort_values(by='mean_rank')
final_lists.head()

       Word  tfidf_rank  mlr_rank  rf_rank  ks_rank  mean_rank
0   elastic           0       5.0      6.0      0.0       2.75
9       sql           9       0.0      0.0      3.0       3.00
5  database           5       3.0      4.0      1.0       3.25
1    deploy           1       8.0      5.0      5.0       4.75
8   upgrade           8       2.0      3.0     24.0       9.25

In [36]:
final_lists.to_excel('word_importance_lists.xlsx', index=False)